<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>
    <div class="logos">
        <div class="logo_items">
            <img src="../src/image/clientes/grupoBimbo.png" alt="">
            <img src="../src/image/clientes/homecenter.png" alt="">
            <img src="../src/image/clientes/margarita.webp" alt="">
            <img src="../src/image/clientes/arLogo.png" alt="">
            <img src="../src/image/clientes/ceramicaItalia.png" alt="">
            <img src="../src/image/clientes/logoBosi.png" alt="">
            <img src="../src/image/clientes/morphosis.png" alt="">
            <img src="../src/image/clientes/logoAlfa.jpg" alt="">
        </div>
        <div class="logo_items">
            <img src="../src/image/clientes/grupoBimbo.png" alt="">
            <img src="../src/image/clientes/homecenter.png" alt="">
            <img src="../src/image/clientes/margarita.webp" alt="">
            <img src="../src/image/clientes/arLogo.png" alt="">
            <img src="../src/image/clientes/ceramicaItalia.png" alt="">
            <img src="../src/image/clientes/logoBosi.png" alt="">
            <img src="../src/image/clientes/morphosis.png" alt="">
            <img src="../src/image/clientes/logoAlfa.jpg" alt="">
        </div>
    </div>

</body>

</html>