@tailwind base;
@tailwind components;
@tailwind utilities;

/*Start Animations*/
@-webkit-keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}

	to {
		top: 0;
		opacity: 1;
	}
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}

	to {
		top: 0;
		opacity: 1;
	}
}

@-webkit-keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}

	50% {
		opacity: 1;
	}
}

@keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}

	50% {
		opacity: 1;
	}
}

/*End Animations*/
/*
-- Start BackGround Animation 
*/
.area {
	background: rgb(10 10 10);
	background: -webkit-linear-gradient(to left, rgb(10 10 10), rgb(10 10 10));
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: -1;
}

.circles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.circles li {
	position: absolute;
	display: block;
	list-style: none;
	width: 20px;
	height: 20px;
	background-color: rgb(252 211 77);
	animation: animate 25s linear infinite;
	bottom: -150px;
}

.circles li:nth-child(1) {
	left: 25%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}

.circles li:nth-child(2) {
	left: 10%;
	width: 20px;
	height: 20px;
	animation-delay: 1s;
	animation-duration: 12s;
}

.circles li:nth-child(3) {
	left: 70%;
	width: 20px;
	height: 20px;
	animation-delay: 2s;
}

.circles li:nth-child(4) {
	left: 40%;
	width: 60px;
	height: 60px;
	animation-delay: 0s;
	animation-duration: 18s;
}

.circles li:nth-child(5) {
	left: 65%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
}

.circles li:nth-child(6) {
	left: 75%;
	width: 110px;
	height: 110px;
	animation-delay: 3s;
}

.circles li:nth-child(7) {
	left: 35%;
	width: 150px;
	height: 150px;
	animation-delay: 7s;
}

.circles li:nth-child(8) {
	left: 50%;
	width: 25px;
	height: 25px;
	animation-delay: 15s;
	animation-duration: 45s;
}

.circles li:nth-child(9) {
	left: 20%;
	width: 15px;
	height: 15px;
	animation-delay: 2s;
	animation-duration: 35s;
}

.circles li:nth-child(10) {
	left: 85%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 11s;
}

@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
		border-radius: 0;
	}

	100% {
		transform: translateY(-1000px) rotate(720deg);
		opacity: 0;
		border-radius: 50%;
	}
}

/*
-- End BackGround Animation 
*/
#FullImageView {
	z-index: 100;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .9);
	overflow: hidden;
}

#FullImage {
	padding: 24px;
	max-width: 100%;
	max-height: 100%;
}

#CloseButton {
	position: absolute;
	top: 12px;
	right: 12px;
	font-size: 2rem;
	color: white;
	cursor: pointer;
}

/*CSS 404*/

.main{
	margin-top: 0%;
  }
  
  .st0{fill:#fff}
  .st2{fill:#5d89af}
  .st3{fill:#709abf}
  .st4,.st6{
	fill:#fff;
	stroke:#b3dcdf;
	stroke-miterlimit:10
  }
  .st6{
	stroke:#5d89af;
	stroke-width:2
  }
  .st7,.st8,.st9{
	stroke:#709abf;
	stroke-miterlimit:10
  }
  
  .st7{
	stroke-width:5;
	stroke-linecap:round;
	fill:none
  }
  .st8,.st9{
	fill:#fff
  }
  .st9{
	fill:none
  }
  .st10{
	
  }
  
  #cloud1{
	animation: cloud003 15s linear infinite;
  }
  
  #cloud2{
	animation: cloud002 25s linear infinite;
  }
  
  #cloud3{
	animation: cloud003 20s linear infinite;
  }
  
  #cloud4{
	animation: float 4s linear infinite;
  }
  
  #cloud5{
	animation: float 8s linear infinite;
  }
  
  #cloud7{
	animation: float 5s linear infinite;
  }
  
  #tracks{
	animation: slide 650ms linear infinite;
  }
  
  #bumps{
	animation: land 10000ms linear infinite;
  }
  
  @keyframes jig {
	  0% { transform: translateY(0px); }
	  50% { transform: translateY(1px); }
	  100% { transform: translateY(0px); }
  }
  
  #car-layers{
	animation: jig 0.35s linear infinite;
  }
  
  @keyframes land {
	  from { transform: translateX(0); }
	  to { transform: translateX(1000px); }
  }
  
  
  @keyframes slide {
	  from { transform: translateX(0px); }
	  to { transform: translateX(100px); }
  }
  
  /* @keyframes cloudFloat {
	0% { transform: translateX(0) translateY(3px); }
	100% { transform: translateX(1000px) translateY(0); }
  } */
  
  @keyframes cloud001 {
	0% { transform: translateX(-1000px) translateY(3px); }
	100% { transform: translateX(1000px) translateY(0); }
  }
  
  @keyframes cloud002 {
	0% { transform: translateX(-1000px) translateY(3px); }
	100% { transform: translateX(1000px) translateY(0); }
  }
  
  @keyframes cloud003 {
	0% { transform: translateX(-1000px) translateY(3px); }
	100% { transform: translateX(1000px) translateY(0); }
  }
  
  @keyframes float {
	  0% { transform: translateY(0px) translateX(0); }
	  50% { transform: translateY(8px) translateX(5px); }
	  100% { transform: translateY(0px) translateX(0); }
  }
  
  #bracefront, #braceback{
	animation: braces 1s linear infinite;
  }
  
  @keyframes braces {
	  0% { transform: translateX(-2px); }
	25% { transform: translateX(3px); }
	  50% { transform: translateX(-2px); }
	  75% { transform: translateX(3px); }
	100% { transform: translateX(-2px); }
  }
  #contenedor {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

#caja1, #caja2, #caja3 {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding-top: 20%;
    width: 200px;
    height: 200px;
}

#caja1 {
    background-color: rgba(0,0,0,0.767);
    color:azure;    
}
#caja2 {
    background-color: darkslateblue;
    color:azure;    
}
#caja3 {
    background-color: #2ab2ea;
    color:azure;    
}